In [1]:
import numpy as np
import pandas as pd

# Series
 - pandas 기본 객체, DataFrame과 함께 빈번하게 사용됨
 - ndarray 기반으로 인덱싱 추가

In [2]:
series = pd.Series(20)
series

0    20
dtype: int64

In [4]:
series[0]

# series의 인덱스 0의 값을 리턴한다

20

In [6]:
series2 = pd.Series(range(1,11))
series2

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [8]:
series2.values
# array로 리턴함

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10], dtype=int64)

In [9]:
series2.index

RangeIndex(start=0, stop=10, step=1)

In [11]:
series3 = pd.Series(range(1,5),index = ['a','b','c','d'])
series3

a    1
b    2
c    3
d    4
dtype: int64

In [12]:
print series3.values
print series3.index

[1 2 3 4]
Index([u'a', u'b', u'c', u'd'], dtype='object')

In [16]:
# multiple selection (인덱스 여러 개)
series3[['a','b']] # list 타입으로 입력 (이중 브라켓)

a    1
b    2
dtype: int64

In [17]:
# 특정 값을 리턴하고 싶을 때

print series3.loc['a']
print series3.iloc[0] # 0-beased index

1

In [27]:
series4 = pd.Series(range(1,5), index=series3.index) # 인덱스를 가지고 와서 그대로 적용함.
series4

a    1
b    2
c    3
d    4
dtype: int64

In [28]:
series5 = pd.Series(np.random.randn(5))
series5

0   -1.023273
1    0.436547
2    0.242489
3    0.240923
4   -1.632040
dtype: float64

In [29]:
series6 = pd.Series({'math':100, 'sci':80})
series6

math    100
sci      80
dtype: int64

In [32]:
s = pd.Series([2,1,2,3, np.nan]) # 빈칸 추가하여 5개 생성
s

0    2.0
1    1.0
2    2.0
3    3.0
4    NaN
dtype: float64

In [34]:
print len(s)
print s.size
print s.shape # 차원

5
5
(5L,)

In [36]:
s.count() # NaN은 걸러 카운팅, 결측치 등 갯수 확인할 때

4

In [38]:
print s.unique() # 고유 값
print s.value_counts() # values / count

[  2.   1.   3.  nan]
2.0    2
3.0    1
1.0    1
dtype: int64

In [39]:
print s.head() # (n=#)로 컨트롤 가능
print s.tail()

0    2.0
1    1.0
2    2.0
3    3.0
4    NaN
dtype: float64
0    2.0
1    1.0
2    2.0
3    3.0
4    NaN
dtype: float64

In [41]:
s.take([0,1]) # 인덱스 0의 값을 리턴함

0    2.0
1    1.0
dtype: float64

인덱스 끼리 묶어서 계산해준다(element-wise)
합, 제곱, 상수곱셈 가능

In [45]:
s3 = pd.Series([1,2,3,4,5],index=['a','b','c','d','f'])
s4 = pd.Series([1,2,3,4,0],index=['d','a','b','c','e'])

s3+s4 # 빈 부분은 null로 돌려줌

a    3.0
b    5.0
c    7.0
d    5.0
e    NaN
f    NaN
dtype: float64

In [46]:
np_array = np.array([1,2,3,np.NaN])
pd_series = pd.Series([1,2,3, np.NaN])

In [47]:
np_array.mean()

nan

In [49]:
pd_series.mean() # NaN을 무시하고 계산함

2.0

In [50]:
pd_series.mean(skipna=False) # nan 생략 기능을 끔

nan