# pandas 데이터 입출력 종류
- csv
- clipboard
- excel
- json
- html
- python pickling
- HDF5
- SAS
- STATA
- SQL
- Google bigquery

- pandas.from_csv() : 읽어오기
- names : 컬럼 이름 설정
- index_col : 특정 컬럼 인덱스로 지정
- sep : 구분자가 ,이외의 다른 것일 때
- skiprows : 건너 뛰어야 할 행이 있을 때
- na_values : 특정한 값 NA으로 취급할때
- nrows : 일부 행만 읽을 때

# 파일 출력
- DataFrame.to_csv() -> dataframe을 csv 파일로

# 인터넷 상의 데이터베이스 자료 입력
- Yahoo finance
- Google finance
- FRED
- Kenneth French's data library
- World bank
- Google Analytics

In [2]:
import pandas_datareader.data as web

In [3]:
import datetime
start = datetime.datetime(2015,1,1)
end = datetime.datetime(2016,6,30)

In [5]:
df = web.DataReader("005930.KS",'yahoo',start,end)
df.tail()

                 Open       High        Low      Close  Volume   Adj Close
Date
2016-06-24  1445000.0  1445000.0  1360000.0  1400000.0  411000  1377613.81
2016-06-27  1400000.0  1405000.0  1385000.0  1398000.0  236700  1375645.79
2016-06-28  1390000.0  1404000.0  1379000.0  1399000.0  214300  1376629.80
2016-06-29  1408000.0  1412000.0  1391000.0  1396000.0  210500  1374660.37
2016-06-30  1408000.0  1445000.0  1397000.0  1425000.0  273400  1403217.07